<div class="contenedor">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> Peaky Blinders </mat-card-title>
    <mat-card-subtitle> Drama </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="itemimageurl1" alt="serie1" />
  <mat-card-content>
    <p>
        Peaky Blinders es un drama de BBC que narra la historia de la familia gitana Shelby y su banda de gángsters, un grupo de personas características por sus boinas con cuchillas y dueñas de los asuntos ilegales, que dominan las apuestas clandestinas y se rigen mediante extorsiones.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> Punisher </mat-card-title>
    <mat-card-subtitle> Accion / Drama </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="itemimageurl2" alt="serie2" />
  <mat-card-content>
    <p>
        Marvel's The Punisher sigue la vida de 'El Castigador'. Así se hace llamar Frank Castle, un ex soldado lleno de dolor y venganza que quiere acabar con aquellos que le arrebataron a su familia en un brutal asesinato.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> Breaking Bad </mat-card-title>
    <mat-card-subtitle> Drama / Accion </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="itemimageurl3" alt="serie2" />
  <mat-card-content>
    <p>
        Walter White (Bryan Cranston) es un frustrado profesor de química en un instituto, padre de un joven discapacitado y con una mujer (Anna Gunn) embarazada. Además, trabaja en un lavadero de vehículos por las tardes. Cuando le diagnostican un cáncer pulmonar terminal se plantea qué pasará con su familia cuando él muera.
    </p>
  </mat-card-content>
</mat-card>


<mat-card  class = "example-card"> 
    <mat-card-header > 
      <div  mat-card-avatar  class = "example-header-image" > </div> 
      <mat-card-title> How to sell drugs online </mat-card-title> 
      <mat-card-subtitle> Drama </mat-card-subtitle> 
    </mat-card-header> 
    <img  mat-card-image  [src] = "itemimageurl4" alt= "serie2"> 
    <mat-card-content> 
      <p >
        Un lerdo adolescente empieza a vender éxtasis por Internet para recuperar a su exnovia y se convierte en uno de los mayores traficantes de droga de Europa. Ve todo lo que quieras. Premio Adolf Grimme al mejor programa infantil y juvenil.
      </p> 
    </mat-card-content> 
    
  </mat-card>

  <mat-card  class = "example-card"> 
    <mat-card-header > 
      <div  mat-card-avatar  class = "example-header-image" > </div> 
      <mat-card-title> Shernobyl </mat-card-title> 
      <mat-card-subtitle> Historico </mat-card-subtitle> 
    </mat-card-header> 
    <img  mat-card-image  [src] = "itemimageurl5" alt= "serie2"> 
    <mat-card-content> 
      <p >
        Chernóbil es una miniserie de televisión de drama histórico creada por Craig Mazin y dirigida por Johan Renck. La serie gira en torno al desastre nuclear de Chernóbil de abril de 1986 y los esfuerzos de limpieza sin precedentes que siguieron.
      </p> 
    </mat-card-content> 
    
  </mat-card>


  <mat-card  class = "example-card"> 
    <mat-card-header > 
      <div  mat-card-avatar  class = "example-header-image" > </div> 
      <mat-card-title> Unsolved </mat-card-title> 
      <mat-card-subtitle> Drama / Crimen </mat-card-subtitle> 
    </mat-card-header> 
    <img  mat-card-image  [src] = "itemimageurl6" alt= "serie2"> 
    <mat-card-content> 
      <p >
        Unsolved : The Murders of Tupac and the Notorious B.I.G. sigue dos de las investigaciones de crímenes más importante realizadas por el detective Greg Kading sobre los asesinatos de Tupac Shakur y Biggie Smalls. La ficción es una producción de Anthony Hemingway, Mark Taylor, Kyle Long y el propio detective Kading.
      </p> 
    </mat-card-content> 
    
  </mat-card>
</div>